* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.home-section .home-content {
	position: relative;
	padding-top:104px ;
}

.home-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-bottom: 26px;
}


/*
 * TABLE
 */
table { 
	width: 100%; 
  	border-collapse: collapse; 
  	margin-top: 20px;
}

th { 
  	color: gray; 
  	font-weight: bold; 
}

td, th { 
	padding: 10px; 
  	text-align: left; 
}

td {
	color: gray;

}

tr {
}

#btnAddOcurrence {
	background: #5C5CFF;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	margin-top: 10px;
}

#btnAdd:hover {
	background: blue;
	transition: all 0.5s;
}

#btnSeeClosedOcurrence {
	background: #FF5C5C;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

/*
 * FORMS
 */

.inputs-all {
	width: 100%;
  	padding: 12px 20px;
  	margin: 10px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

.input-submit {
	width: 100%;
  	background-color: #011B56;
  	color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	border-radius: 4px;
  	cursor: pointer;
  	font-size: 15px;
}

.input-submit:hover {
	background-color: #2452A3;
}

textarea {resize: none;}


#formAddOcurrence label{
	color: gray;
	padding: 12px 12px 12px 0;
  	display: inline-block;
  	font-weight: 700;
}

#formAddOcurrence input, select, textarea{
	color: gray;
	width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	resize: none;
}


#formEditOcurrence label{
	color: gray;
	padding: 12px 12px 12px 0;
  	display: inline-block;
  	font-weight: 700;
}

#formEditOcurrence input, select, textarea{
	color: gray;
	width: 100%;
  	padding: 12px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	resize: none;
}

#btnSubmit {
	background: #f5f5f5;
	color: #000;
}

#btnSubmit:hover {
	color: #Fff;
	background: #0A2558;
}

.card {
	width: 45%;
  	max-width: 90%;
  	margin: 20px auto 0;
  	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  	padding: 24px;
  	border-radius: 10px;
  	background: #ffffff;
}

#list-details {list-style: none; color: #696969}
#list-content{margin-top: 20px}


/*
 * ALERT
 */

.alert {
  	padding: 20px;
  	background-color: #f44336;
  	color: #fff;
  	width: 100%;
}

.closebtn {
  	margin-left: 15px;
  	color: white;
  	font-weight: bold;
  	float: right;
  	font-size: 22px;
  	line-height: 20px;
  	cursor: pointer;
  	transition: 0.3s;
}

.closebtn:hover {
  	color: black;
}

#pendente {
	background: #FFFF8A;
	border-radius: 5px;
	color: gray;
	padding: 2px;
}

#aberto {
	background: #5CFF5C;
	border-radius: 5px;
	color: gray;
	padding: 2px;
}

#fechado {
	background: #FF5C5C;
	border-radius: 5px;
	color: #fff;
	padding: 2px;
}

#status {
	background: #8A8AFF;
	color: #fff;
}

#trHeader {
	background: #fff;
	padding: 0 10px;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

#trContent td{
	padding-bottom: 40px;
}

.dropdown {
  	position: relative;
  	display: inline-block;
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 160px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
}

.dropdown:hover .dropdown-content {
	background: #f9f9f9;
  	display: block;
  	margin-top: 90px;
  	right: 5%;
  	width: 100%;
  	padding: 5px;
  	margin-bottom: 1px solid;
}

.dropdown a{
	text-decoration: none;
	color: gray;
}

.dropdown li:hover {
	color: #0A2558;
}

.dropdown-content {
	margin-top: 500px;
}

#list-dropdown{
	list-style: none;
}


#account-link {
	border-bottom: 1px solid gray;
	padding: 5px;
	color: gray;
}

#account-link:hover {
	background: #8A8AFF;
	color: #fff;
}

#searchbarOcurrence, #searchbarClient {
	padding: 5px;
}