* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.home-section .home-content {
	position: relative;
	padding-top:104px ;
}

.home-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-bottom: 26px;
}


/*
 * TABLE
 */
table {
		width: 100%;
  	border-collapse: collapse;
  	margin-top: 20px;
}

th {
  	color: gray;
  	font-weight: bold;
}

td, th {
	padding: 10px;
  	text-align: left;
}

td {
	color: gray;

}

tr {
}

#btnAddOcurrence {
	background: #5C5CFF;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	text-decoration: none;
	margin-top: 10px;
}

#btnAdd:hover {
	background: blue;
	transition: all 0.5s;
}

#btnSeeClosedOcurrence {
	background: #FF5C5C;
	border-radius: 5px;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

.card {
		width: 45%;
  	max-width: 90%;
  	margin: 20px auto 0;
  	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  	padding: 24px;
  	border-radius: 10px;
  	background: #ffffff;
}


#list-details {list-style: none; color: #696969}
#list-content{margin-top: 20px}


/*
 * ALERT
 */

.alert {
  	padding: 10px;
  	background-color: #f44336;
		border-radius: 5px;
  	color: #fff;
  	width: 100%;
}

.closebtn {
  	margin-left: 15px;
  	color: white;
  	font-weight: bold;
  	float: right;
  	font-size: 22px;
  	line-height: 20px;
  	cursor: pointer;
  	transition: 0.3s;
}

.closebtn:hover {
  	color: black;
}

#pendente {
	background: #FFFF8A;
	border-radius: 5px;
	color: gray;
	padding: 2px;
}

#aberto {
	background: #5CFF5C;
	border-radius: 5px;
	color: gray;
	padding: 2px;
}

#fechado {
	background: #FF5C5C;
	border-radius: 5px;
	color: #fff;
	padding: 2px;
}

#status {
	background: #2E2EFF;
	color: #fff;
}

#trHeader {
	background: #fff;
	padding: 0 10px;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

#trContent td{
	padding-bottom: 40px;
}

#account-link {
	border-bottom: 1px solid gray;
	padding: 5px;
	color: gray;
}

#account-link:hover {
	background: #8A8AFF;
	color: #fff;
}

#searchbarOcurrence, #searchbarClient {
	padding: 5px;
}

.card-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}
.card-container:hover .card {
  opacity: .7;
  cursor: pointer;
  filter: grayscale(1);
}
.card-container .card {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  box-shadow: 0 0 2px 2px rgba(0,0,0,.05);
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
}
.card-container .card:hover {
  box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
  transform: scale(1.025);
  opacity: 1;
  filter: grayscale(0);
  transition: .35s all ease;
}
.card-container .card img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.card-container .card .content {
  padding: 15px 20px;
}
.card-container .card h3 {
  font: 2.8rem/3.4rem 'Bree Serif', serif;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: -.075rem
}
.card-container .card p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.6rem/2.2rem 'Open Sans script=all', sans-serif;
}




/*
 * FORMS
 */

 #divForms {
     max-width: 500px;
     margin: auto;
     margin-top: 50px;
     background-color: #fff;
     border-radius: 10px;
     padding: 50px;
     color: gray;
 }

 #divForms h2{
   font-family: Anton, sans-serif;
   color: gray;
   letter-spacing: 2px;
   font-weight: 500;
   text-align: center;
 }

 #divForms form label {
     padding: 12px 12px 12px 0;
     display: inline-block;
 }

 #divForms form input{
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     resize: vertical;
     outline: none;
 }

 #divForms form textarea{
		 width: 100%;
		 padding: 12px;
		 border: 1px solid #ccc;
		 border-radius: 4px;
		 resize: vertical;
		 outline: none;
		 resize: none;
 }

 #divForms form select{
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		resize: vertical;
		outline: none;
 }

 #divForms form button {
     background-color: #2E2EFF;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     float: right;
     margin-top: 10px;
 }


 #submitButton {
     background-color: #2E2EFF;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     margin-top: 10px;
 }

 #submitButton:hover {background-color: #5C5CFF ;}
